<a href="https://colab.research.google.com/github/isaacmachado138/aprendizado-python/blob/main/exemplo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INTRODUÇÃO**

In [ ]:
dia = input("Digite o dia em que nasceu: ")
mes = input("Digite o mes em que nasceu: ")
ano = input("Digite o ano em que nasceu: ")
print("Nasci em %s/%s de %s" % (dia, mes, ano))

Digite o dia em que nasceu: 02
Digite o mes em que nasceu: 06
Digite o ano em que nasceu: 2003
Nasci em 02/06 de 2003

In [ ]:
hora   = int(input("Digite a hora atual: "))
minuto = int(input("Digite o minuto atual: "))
print("Agora sao %i:%i" % (hora, minuto))

Digite a hora atual: 15
Digite o minuto atual: 12
Agora sao 15:12

In [ ]:
pi = 3.14159265358
print("O valor de pi é %.5f" % (pi))

O valor de pi é 3.14159

 # **EXERCICIOS FOR**

1 - Digitar uma string e verificar quantos caracteres ela tem sem usar o len e nem contar espaços

In [ ]:
string = input("Digite um texto: ")

contador = 0
for i in string:
  if i != ' ':
    contador += 1

print("Essa string tem %i caracteres" % contador)

Digite um texto: Teste Isaac 2
Essa string tem 11 caracteres

2 - Receber um numero e contar fatorial dele

In [ ]:
num = int(input("Digite um numero: "))
res = num

for i in range(num-1,0,-1):
  resAnt = res
  res *= i

  print("%i * %i = %i" % (resAnt,i, res))

print("O resultado do fatorial de %i é %i" % (num,res))

Digite um numero: 5
5 * 4 = 20
20 * 3 = 60
60 * 2 = 120
120 * 1 = 120
O resultado do fatorial de 5 é 120

3 - Ler quantidade arbitraria de textos e concatenar numa unica string

In [ ]:
iNum = int(input("Digite o numero de leituras: "))

sTextoFinal = ""
for i in range(iNum):
  sTextoFinal += input("Digite uma string: ")

print("O texto concatenado é %s " % sTextoFinal)

Digite o numero de leituras: 3
Digite uma string: Olá
Digite uma string:  Mundo
Digite uma string: !
O texto concatenado é Olá Mundo!

4 - Ler um numero e exibir sua tabuada da divisão

In [ ]:
iNum = int(input("Digite um numero: "))

res = 0.0

#para percorrer de 1 a 10
for i in range(1,11):
  res = iNum / i
  print("%i / %i = %.1f" % (iNum, i, res))

Digite um numero: 7
7 / 1 = 7.0
7 / 2 = 3.5
7 / 3 = 2.3
7 / 4 = 1.8
7 / 5 = 1.4
7 / 6 = 1.2
7 / 7 = 1.0
7 / 8 = 0.9
7 / 9 = 0.8
7 / 10 = 0.7

5 - Percorrer numeros de 3 até 30 e printar se o número é primo ou não

In [ ]:
#para percorrer de 3 ate 30
for i in range(3,31):
  ePrimo = True

  for c in range(2,i):
    if(i % c == 0):
      ePrimo = False
      break

  if(ePrimo):
    print("%i é primo" % i)
  else:
    print("%i não é primo" % i)

3 é primo
4 não é primo
5 é primo
6 não é primo
7 é primo
8 não é primo
9 não é primo
10 não é primo
11 é primo
12 não é primo
13 é primo
14 não é primo
15 não é primo
16 não é primo
17 é primo
18 não é primo
19 é primo
20 não é primo
21 não é primo
22 não é primo
23 é primo
24 não é primo
25 não é primo
26 não é primo
27 não é primo
28 não é primo
29 é primo
30 não é primo

# **LISTAS**

## Manipulando (aula 70)

In [ ]:
array = [10, 2, 3]

#insere um novo valor ao final da lista
array.append(2)
print("Array com o 2 inserido ao final: %s \n" % array)

#insere um novo valor em determinada posição
array.insert(2, "quatro")
print("Array com o \'quatro\' inserido na posição 2: %s \n" % array)

#remove um valor pelo seu valor
array.remove(10)
print("Array com o 10 removido: %s \n" % array)

#remove um valor pelo seu indice
array.pop(2)
print("Array com o 2 indice removido: %s \n" % array)

#função len lê o comprimento do array
print("Comprimento do array: %i \n" % len(array))

#clear limpa o array
array.clear()
print("Array limpo: %s \n" % array)

#Testar se elemento esta no array
array = [1, 'teste', 2.3, False, 1]
print("1 está no array?: %s \n" % (1 in array))

print("False não está no array?: %s \n" % (False not in array))

#Contar quantas vezes ocorre um va,lor no array
teste = array.count(1)
print("1 está no array quantas vezes?: %i \n" % teste)

Array com o 2 inserido ao final: [10, 2, 3, 2]

Array com o 'quatro' inserido na posição 2: [10, 2, 'quatro', 3, 2]

Array com o 10 removido: [2, 'quatro', 3, 2]

Array com o 2 indice removido: [2, 'quatro', 2]

Comprimento do array: 3

Array limpo: []

1 está no array?: True

False não está no array?: False

1 está no array quantas vezes?: 2

## Operações (soma, mult e distribuição)

In [ ]:
lista1 = [1,2,3]
lista2 = [3,4,5]

#somar arrays
soma   = lista1 + lista2
print("Arrays somados: %s \n" % soma)

#somar arrays
mult   = lista1 * 3
print("Array 1 repetido 3 vezes: %s \n" % mult)

#atribuir cada elemento a uma variável
numeros = ["um", "dois", "três"]
x,y,z = numeros
print("Variável x: %s " % x)
print("Variável y: %s " % y)
print("Variável z: %s " % z)

Arrays somados: [1, 2, 3, 3, 4, 5]

Array 1 repetido 3 vezes: [1, 2, 3, 1, 2, 3, 1, 2, 3]

Variável x: um
Variável y: dois
Variável z: três

##Percorrer

In [ ]:
cores = ["azul", "preto", "amarelo"]

for x in cores:
  print(x)

azul
preto
amarelo

##Matriz (lista com listas)

In [ ]:
lista = [[1,2,3] , [3,4,5]]

lista1 = lista[0]
lista2 = lista[1]

print("Primeira lista: %s" % lista1)
print("Segunda  lista: %s \n" % lista2)

primeiro_elemento_primeira_lista = lista[0][0]
print("Primeiro elemento da primeira lista: %s" % primeiro_elemento_primeira_lista)

Primeira lista: [1, 2, 3]
Segunda  lista: [3, 4, 5]

Primeiro elemento da primeira lista: 1

## Set

In [ ]:
lista_set  = {}
lista2_set = {1, 2, 3}
lista3_set = set({4,5, 6})

lista2_set.add(5)    #adiciona um valor ao set
lista2_set.remove(1) #remove um valor do set
print(lista_set)
print(lista2_set)
print(lista3_set)

lista_union = lista2_set.union(lista3_set)
print("\n União = %s \n" % lista_union)

lista_intersection = lista2_set.intersection(lista3_set)
print("\n Interseção = %s \n" % lista_intersection)

lista_dif = lista2_set.difference(lista3_set)
print("\n Diferença = %s \n" % lista_dif)

c = 0
for i in lista3_set:
  print(" Elemento posição %i = %s " % (c, i))
  c+= 1

{}
{2, 3, 5}
{4, 5, 6}

 União = {2, 3, 4, 5, 6}


 Interseção = {5}


 Diferença = {2, 3}

 Elemento posição 0 = 4
 Elemento posição 1 = 5
 Elemento posição 2 = 6

##Tuple
tipo de lista que não pode ser modificada, nº fixo de elementos, e tem uma ordem definida

In [ ]:
doces = (("chocolate", "bom bom", "paçoca", "confete", "brigadeiro"))
print(doces)
print("posição 2: %s" % doces[2])
sub_tupla = doces[1:3]
print(sub_tupla)

('chocolate', 'bom bom', 'paçoca', 'confete', 'brigadeiro')
posição 2: paçoca
('bom bom', 'paçoca')

##Dictionaries
lista que o indice e o valor sao definidos, formado por um conjunto chave/valor

In [ ]:
#nesse caso, ana tem 10 anos, isaac 20 e etc
idades = {'ana':10 , 'isaac': 20 , 'joão':34 , 'fernando':'indefinido'}
#print(idades)
print("Idade de Isaac %s" % idades['isaac'])

#metodo get
idades.get('joão')

#atualizar, ambos os metodos abaixo servem para atualizar um registro
idades['ana'] = 47
idades.update({'fernando':55})
#print(idades)

#remover
idades.pop('fernando')

idades.popitem() #remove o ultimo item

#adicionar
idades['marcos'] = 22 #adiciona ao final

#limpar
idades.clear()

Idade de Isaac 20
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Populando lista com for

In [ ]:
lista = [x for x in range(0,10)]
print(lista)

lista = [x for x in range(-10,20) if x < 10 if x > -5]
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Exercícios

Criando uma lista com os numeros 1,10,6,7,8,10 e somando esses numeros

In [ ]:
aList = [1,10,6,7,8,10]

soma = 0

for i in aList:
  soma += i

print("A soma dos numeros da lista é: %i" % soma)

Crie uma lista com numeros de 1 a 100 e printe esses valores

In [ ]:
aList = [x for x in range(0,100)]

for i in aList:
  print("%i" % i)

Crie duas listas com os valores definidos e faça a junção dessas listas, sem valores repetidos

In [ ]:
aList1 = {30,4,43,52,65,-10}
aList2 = {43,2,4,76,32,65,3}

aListFinal = aList1.union(aList2)

print(aListFinal)

Crie uma lista com todos os meses do ano, receba por input o mes que voce nasceu e imprima o nome do mes

In [ ]:
aMeses = ('Janeiro', 'Fevereiro', 'Março','Abril','Maio','Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro')

iMes = int(input('Digite qual número do mês em que voce nasceu: '))

print("Você nasceu no mês %s" % aMeses[iMes-1])

Digite qual número do mês em que voce nasceu: 6
Você nasceu no mês Junho

# FUNÇÕES

In [ ]:
def ola(nome):
  print('Olá %s' % nome)

ola('Isaac')

## Funções Lambda
Funções anônimas, que serão utilizadas apenas uma vez

In [ ]:
somar = lambda x,y : x + y

valor = somar(1,5)

print(valor)

##Exercícios

Crie uma função que receba uma lista de elementos e um valor qualquer. Em seguida retorne um booleano dizendo se o valor foi ou não encontrado na lista

In [ ]:
def busca(lista, valor):
  for i in lista:
    if(i == valor):
      return  True
  return  False



lista = [1,4,6,8,9,12,19]
valor = int(input('Digite um valor para buscar na lista: '))

print(busca(lista, valor))

Crie uma função que receba um número arbitrário de parâmetros e diga qual o tipo de cada parametro

In [ ]:
def mostraTipo(*args):
  for i in args:
    print(type(i))

mostraTipo(1,7,12,'teste', [4,5,6], False);

Crie uma função recursiva que itere os numeros de 0 ate 10 e printe o resultado de usa divisão inteira com o número 3

In [ ]:
def printaDivisao3(num):

  if num >= 11:
    return

  print(num // 3)
  printaDivisao3(num+1)


printaDivisao3(0)

# FUNÇÕES PRONTAS

##Abs
Pega o valor absoluto do número

In [ ]:
num1 = 10
num2 = -20

print(abs(num1))
print(abs(num2))

print(abs(num1) + abs(num2))

##Max e Min
Pega o valor máximo dentre alguns valores ou uma lista

In [ ]:
lista = [-20,1,2,5]
print(max(lista))

stringLista = (-20,1,2,5)
print(min(stringLista))

##Potência
Eleva um número a outro, exemplo:
2 elevado a 3

In [ ]:
print(pow(2,3))

8

#ORIENTAÇÃO A OBJETOS


*   **__init__** : é o construtor da instancia
*   **self**: é a variável da instancia que está sendo utilizada, não precisa ser passada no parâmetro mas precisa ser recebida
*

In [ ]:
class Pessoa:
  especie = "Homo Sapiens"
  num_pessoas = 0

  def __init__(self, nome, idade):
    self.nome = nome
    self.idade = idade
    Pessoa.num_pessoas += 1

  def exibeNome(self):
    print("Meu nome é %s " % (self.nome))

pessoa1 = Pessoa('Rodrigo', 34)
pessoa2 = Pessoa('Maria', 20)
pessoa3 = Pessoa('Carlos', 12)

pessoa1.exibeNome()

##Herança

no exemplo, as classes Quadrado e Triangulo vao herdar da classe FormaGeometrica

In [8]:
class FormaGeometrica:
  def __init__(self, altura, largura):
    self.altura  = altura
    self.largura = largura

  def funcaoHerdada(self):
    print("Sou herdado")

class Quadrado(FormaGeometrica):
  pass

class Triangulo(FormaGeometrica):
  pass

quadrado  = Quadrado(100,50)
triangulo = Triangulo(10,30)

print(quadrado.funcaoHerdada())
print(triangulo.altura)
print(triangulo.largura)

Sou herdado
None
10
30